<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.settings"
        android:sharedUserId="android.uid.system">

    <uses-permission android:name="com.google.android.providers.gmail.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <application android:label="@string/settings_label" android:icon="@drawable/ic_launcher_settings">

        <!-- Settings -->

        <activity android:name="Settings" android:label="@string/settings_label"
                android:clearTaskOnLaunch="true"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Wireless Controls -->

        <activity android:name="WirelessSettings" 
                android:label="@string/radio_controls_title"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.WIRELESS_SETTINGS" />
                <action android:name="android.settings.AIRPLANE_MODE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>


        <!-- Top-level settings -->

        <activity android:name=".wifi.WifiSettings" android:label="@string/wifi_settings"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.WIFI_SETTINGS" />
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name=".wifi.AdvancedSettings" android:label="@string/wifi_ip_settings_titlebar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.WIFI_IP_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="ApnSettings" android:label="@string/apn_settings"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="singleInstance" 
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.APN_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name=".bluetooth.BluetoothSettings"
                  android:label="@string/bluetooth_settings_title"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.BLUETOOTH_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="DateTimeSettings" android:label="@string/date_and_time"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.DATE_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="DateTimeSettingsSetupWizard" android:label="@string/date_and_time">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="LocalePicker" android:label="@string/language_picker_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.LOCALE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>
        
        <activity android:name="LocalePickerInSetupWizard" android:label="@string/language_picker_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="LanguageSettings" android:label="@string/language_picker_title"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="PhysicalKeyboardSettings" 
                android:label="@string/builtin_keyboard_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="InputMethodsSettings" android:icon="@drawable/app_settings"
                android:label="@string/input_methods_settings_title"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.INPUT_METHOD_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="UserDictionarySettings" android:icon="@drawable/app_settings"
                android:label="@string/user_dict_settings_titlebar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.USER_DICTIONARY_SETTINGS" />
                <action android:name="com.android.settings.USER_DICTIONARY_INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="SoundAndDisplaySettings" android:label="@string/sound_and_display_settings"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.settings.SOUND_SETTINGS" />
                <action android:name="com.android.settings.DISPLAY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="DeviceInfoSettings" android:label="@string/device_info_settings"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="SettingsLicenseActivity"
                android:label="@string/settings_license_activity_title"
                android:theme="@*android:style/Theme.Dialog.Alert">
            <intent-filter>
                <action android:name="android.settings.LICENSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="ApplicationSettings" android:label="@string/applications_settings_header"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.APPLICATION_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="ManageApplications"
                  android:label="@string/manageapplications_settings_title"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MANAGE_PACKAGE_STORAGE" />
                <action android:name="android.settings.MANAGE_APPLICATIONS_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>
        
        <activity android:name="InstalledAppDetails" android:label="@string/application_info_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="SecuritySettings" android:label="@string/security_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.SECURITY_SETTINGS" />
                <action android:name="android.settings.LOCATION_SOURCE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="SimLockSettings" android:label="@string/sim_lock_settings"
                android:process="com.android.phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>




        <!-- Second and third-level settings -->

        <activity android:name="ConfirmLockPattern"/>
        
        <activity android:name="ChooseLockPattern" android:label="@string/lockpattern_change_lock_pattern_label">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="ChooseLockPatternTutorial" 
            android:label="@string/lockpattern_change_lock_pattern_label"
            >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="ChooseLockPatternExample" 
            android:label="@string/lockpattern_change_lock_pattern_label">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="ZoneList" android:label="@string/choose_timezone" />

        <activity android:name=".deviceinfo.Status" android:label="@string/device_status_activity_title"
                android:process="com.android.phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name=".deviceinfo.Memory" android:label="@string/storage_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.INTERNAL_STORAGE_SETTINGS" />
                <action android:name="android.settings.MEMORY_CARD_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="ApnEditor" android:label="@string/apn_edit">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/telephony-carrier" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/telephony-carrier" />
            </intent-filter>
        </activity>

        <activity android:name="MasterClear" android:label="@string/master_clear_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="MediaFormat" android:label="@string/media_format_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".quicklaunch.QuickLaunchSettings" 
                android:label="@string/quick_launch_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.settings.QUICK_LAUNCH_SETTINGS" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>
        
        <activity android:name=".quicklaunch.BookmarkPicker" android:label="@string/quick_launch_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="DevelopmentSettings" android:icon="@drawable/app_settings"
                android:label="@string/development_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.settings.APPLICATION_DEVELOPMENT_SETTINGS" />
            </intent-filter>
        </activity>




        <!-- Bluetooth stuff -->

        <activity android:name=".bluetooth.ConnectSpecificProfilesActivity"
                  android:label="@string/bluetooth_connect_specific_profiles_title" />

        <activity android:name=".bluetooth.BluetoothPinDialog"
                  android:label="@string/bluetooth_pin_entry"
                  android:theme="@*android:style/Theme.Dialog.Alert">
            <intent-filter>
                <action android:name="android.bluetooth.intent.action.PAIRING_REQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".bluetooth.BluetoothPinRequest">
            <intent-filter>
                <action android:name="android.bluetooth.intent.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.intent.action.PAIRING_CANCEL" />
            </intent-filter>
        </receiver>

        <activity android:name="ActivityPicker" android:label="@string/activity_picker_label">
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>





        <!-- Development settings -->

        <activity android:name="DebugIntentSender" android:label="@string/debug_intent_sender_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>

        <!-- DeviceInfo adds the user's requested build to stats upload.  -->
        <receiver android:name=".DeviceInfo$StatsReportReceiver">
            <intent-filter>
                <action android:name="android.intent.action.STATISTICS_REPORT" />
            </intent-filter>
        </receiver>

        <activity android:name="BatteryInfo" android:label="@string/battery_info_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name=".battery_history.BatteryHistory" android:label="@string/battery_history_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>

        <activity android:name="Display" android:label="@string/display_label"
                android:configChanges="fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>

        <activity android:name="RadioInfo" android:label="@string/phone_info_label"
            android:process="com.android.phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>

        <activity android:name="SdCardSettings" android:label="@string/sd_card_settings_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="ProxySelector" android:label="@string/proxy_settings_label"
		  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <!-- TODO: Is this needed? -->
        <activity android:name="BandMode"
                  android:theme="@android:style/Theme.Dialog"
                  android:process="com.android.phone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
        </activity>

        <activity android:name="TestingSettings" android:label="@string/testing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="TestingSettingsBroadcastReceiver">
            <intent-filter>
                 <action android:name="android.provider.Telephony.SECRET_CODE" />
                 <data android:scheme="android_secret_code" android:host="4636" />
            </intent-filter>
       </receiver>

        <!-- Standard picker for widgets -->
        <activity android:name="AppWidgetPickActivity" android:label="@string/widget_picker_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Helper to bind any unbound widgets in Launcher, used as
             part of initialization and upgrade process -->
        <activity android:name="LauncherAppWidgetBinder"
                android:permission="com.android.launcher.permission.WRITE_SETTINGS"
                android:theme="@android:style/Theme.NoDisplay" android:exported="true" />

        <activity android:name="UsageStats" android:label="@string/usage_stats_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>

    </application>

</manifest>

